body{
  margin:0;
}
h1{
  display: block;
  margin:0;
  padding-top: 5%;
}
td{
  line-height:20px;
}
hr{
  border-style: none;
  border-top: 5px dotted grey;
  width: 4%;
  margin-top:5%;
}
.intro-section{
  background-color: #b2ebf2;
  background-image: linear-gradient(#b2ebf2, white);
  text-align: center;
  margin: 0;
}
.title-1{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: #77d8d8;
}
.title-2{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 200%;;
  color: #77d8d8;
  margin-bottom: 0;
  margin-top: 0;
}
.cloud-1{
  position:absolute;
  margin-top: 2%;
  margin-left: 35%;
  width: 17%;
  opacity: 0;
}
.cloud-2{
  position : absolute;
  margin-left:-60%;
  margin-top:19%;
  width: 20%;
  opacity: 0;
}
.mountain{
  opacity: 0;
  margin: auto;
  width: 50%;
  background-image: linear-gradient(image/cl, yellow);
}
/* profile-section */
.profile-section{
  width:50%;
  margin:auto;
  text-align: center;
}
.profile-picture{
    width: 30%;
    margin-top:8%;
    object-fit: cover;
    border-radius: 50%;
}
.title-3{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 300%;
  margin-bottom: 5%;
  color: #77d8d8;

}
.bio{
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 20px;
}
/* MY-Skills */
.skills{
  width:60%;
  margin:auto;
  text-align: center;
}
.developer{
  width: 15%;
  margin-top:0;
  margin-left:3%;
  object-fit: cover;
  float:left;
}
.bio-1{
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 20px;
  padding-left: 22%;
  padding-right:12%;
  margin-top: 0;
  text-align: left;
}
.sub-headings{
  font-family: 'Baloo Tamma 2', cursive;
  color: #77d8d8;
  text-align:left;
  padding-left:22%;
  margin-top: 0;
  margin-bottom: 0;
}
.developer-2{
  width: 15%;
  margin-top:0%;
  margin-left:3%;
  object-fit: cover;
  float:right;
}
.skills{
  margin-bottom:3%;
}
/* get-in-touch */
.contact{
  text-align: center;
  width:auto;
}
.social-handle{
  background-color: #b2ebf2;
  text-align: center;
  background-image: linear-gradient(white, #77d8d8);
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 100%;;
  color: white;
}
.social-links{
  padding-top:7%;
  padding-bottom: 5%;
  margin-bottom: 0;
  font
}
.social-images{
 width:1.6%;
 margin-right:.5%;
 margin-left: 1%;
}
.social-ancor{
  text-decoration: none;
  color: white;
}
.social-ancor:hover{
  color: black;
}
.dis{
  text-align: center;
  margin-top: 0;
  font-family: 'Baloo Tamma 2', cursive;
  color: #77d8d8;
}
.title-4{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 300%;
  margin-bottom: 0%;
  color: #77d8d8;
}
.contact{
  width: auto;
}
.contact-text{
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 20px;
  margin-top:0;
}
